@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

.related-products-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  
  .related-products-modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* Light semi-transparent background */
    backdrop-filter: blur(10px); /* Apple-like blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari-specific blur effect */
    z-index: 1;
  }
  
  .related-products-modal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem;
    padding: 1.5rem;
    position: relative;
    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow-y: scroll;
  }

  .related-products-modal__img {
    height: 300px;
    display: block;
    margin: 0  auto 1.5rem auto;
  }

  .related-products-modal__heading {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #FF7615;
    font-size: 1.3rem;
    text-align: center;
  }

  .related-products-modal__subheading {
    margin: 1.5rem 0 3rem;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
   
  }

  .related-products-modal__item-link {    
    position: absolute;
    display: block !important;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .related-products-modal__list {
    list-style-type: none;
    padding: 0;
  }

  .related-products-modal__item {
    display: flex;
    position: relative;
  }

  .related-products-modal__item:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }

  .related-products-modal__item-info {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
  }

  .related-products-modal__item-info  p{
    margin: 0;
  }

  .related-products-modal__item-sku {
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }

  .related-products-modal__item-title {
    margin: 0;
    color: #000;
    font-size: 1.3rem;
  }

  .related-products-modal__item-desc {
    margin: 0 0 1rem 0;
    color: #000;
    font-size: 1.3rem;
  }

  .related-products-modal__item-price {
    margin: 0 0 1rem 0;
    color: #FF7615;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .related-products-modal__item-price span{
    margin-left: 1rem;
    color: rgba(18, 18, 18, 0.75);
    text-decoration: line-through;
    font-size: 1.3rem;
  }

  .related-products-modal__item-img {
    height: 90px;
    margin-right: 2rem;
    object-fit: contain;
  }

  .related-products-modal__btn {
    display: flex;
    padding: 1rem 3rem;
    margin: 2rem auto 0 auto;
    align-items: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 0;
    border: 1px solid #000;
    background-color: transparent;
    margin-top: 2rem;
    cursor: pointer;
  }

  .related-products-modal__btn svg {
    margin-left: 1rem;
  }

  .related-products-modal__btn:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Light semi-transparent background */
  }

  .related-products-modal__close-btn {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .related-products-modal__overlay {
      align-items: center;
    }
    
    .related-products-modal__content {
      max-width: 900px;
      flex-direction: row;
      padding: 3rem;
      overflow: hidden;
    }

    .related-products-modal__container:first-of-type {
      width: 40%;
    }

    .related-products-modal__container:last-of-type {
        flex-grow: 1;
    }

    .related-products-modal__img {
      height: 100%;
      width: 80%;
      object-fit: cover;
      margin: 0 auto 0 0;
    }

    .related-products-modal__heading {
      text-align-last: left;
    }
  
    .related-products-modal__subheading {
      text-align-last: left;
     
    }
    
    .related-products-modal__btn {
      margin: 2rem 0 0 0;
      cursor: pointer;
    }

    .related-products-modal__close-btn {
      display: none;
    }
  }
  

  @media (min-width: 992px) {
    .related-products-modal__content {
      width: 900px;
    }
  }
  
